/* Устанавливаем начальные стили для body */
body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Высота экрана */
    overflow: hidden;
    background-color: #f0f0f0; /* Цвет фона на случай, если анимация не загрузится */
}

/* Анимация для фона */
@keyframes backgroundAnimation {
    0% {
        background-color: #ff7e5f; /* Начальный цвет */
    }
    50% {
        background-color: #feb47b; /* Промежуточный цвет */
    }
    100% {
        background-color: #ff7e5f; /* Финальный цвет */
    }
}

/* Применяем анимацию фона к body */
body {
    animation: backgroundAnimation 10s infinite; /* Анимация 5 секунд, бесконечно */
}
